@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;600;800&family=Playfair+Display:ital@1&display=swap');
@font-face {
	font-family: 'AbelRegular';
           src: url('fonts/abel-regular-webfont.eot');
           src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/abel-regular-webfont.woff') format('woff'),  url('fonts/abel-regular-webfont.ttf') format('truetype'),  url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
    }

    .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
    text-decoration:none;
    }
    
    .body{
        font-family: 'Noto Sans TC', 'Microsoft JhengHei',sans-serif;
        font-weight: 800;
    }

    .txtJL{
        font-family: "AbelRegular" , sans-serif;
        font-weight: normal;
        
    }
 

    .logo_text{
    border: 1px solid #727272;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #727272;
    padding: 2px 8px;
    background-color: #fff;
    &:hover{
        background-color: burlywood;
        animation: hover-shine 1.5s cubic-bezier(0, 0.58, 1, 0.44) infinite;
    }
    }


    #header_ui .uk-active a{
        color: #1b96e0;
    }

    .header_btn{
    color: #333;
    padding: 10px 20px;
    border: 2px solid #f7b157;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 50px;
    }
 
.uk-offcanvas-bar {
    background-color: #fff;
    a{
        color: black;
}
    }
    .plan_btn{
        background-color: #ffdd3d;
        padding: 10px 96px;
        border-radius: 30px;
        font-size: 22px;
        font-weight: bold;
        color: #000;
        border: 4px solid #fff;
        letter-spacing: 0.5rem;
        display: inline-block;
        position: relative;
        // animation: arrmove .95s infinite alternate;
        // animation-timing-function: ease-in-out;
        animation: btn-click 1.5s cubic-bezier(0, 0.58, 1, 0.44) infinite;
        &:hover{
            background-color: #ffec7f;
            color: #000;
            animation:none;
        }
        &::before{
            content: "→";
            position: absolute;
            right: 10px;
            top: 8px;
            transition:.3s ease all ;
        }
        &:hover::before{
            right: 30px;
        }
        &::after{
            content: "" ;
        }
    }
    // @keyframes arrmove{0%{transform:translateY(0)}100%{transform:translateY(14px)}}
    @keyframes btn-click {
  10%{
    transform: rotate(8deg);
  }
  20%{
    transform: rotate(-4deg);
  }
  30%{
    transform: rotate(2.5deg);
  }
  40%{
    transform: rotate(-2.5deg);
  }
  50%,100%{
    transform: rotate(0deg);
  }
}
    .yellow_line{
        display:inline-block;
        position: relative;
        z-index: 1;
        &::before{
            content: "";
            width: 100%;
            height: 10px;
            background-color: #fbdc55;
            display: block;
            position: absolute;
            top: 8px;
            z-index: -1;       
        }
    }
    .input_group{
        position: relative;
        &.font_icon::before{
            content: "";
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            left: 0;
            top: 10px;            
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
            
        }
        &.font_icon.people::before{
            background-image: url(https://cdn-icons-png.flaticon.com/256/456/456283.png);
        }
        &.font_icon.mail::before{
            background-image: url(https://cdn-icons-png.flaticon.com/256/542/542689.png);
        }
        &.font_icon.phone::before{
            background-image: url(https://cdn-icons-png.flaticon.com/256/597/597177.png);
        }

        input,textarea{
            background-color: #f6f8fd;
            border: 1px solid #000;
            padding: 10px 24px;
            width: 100%;
            &:focus{
                outline:none;
                border:1px solid #1193e1;
                box-shadow: 0 0 0 1.5px #1193e1;
                background-color: #fff;
            }
        }
    }
    .input_chose{
    input{
        display: none;
    }
    label{
        padding: 10px 13px;
        border-radius: 40px;
        &:hover{
            background-color: #cac4c4;
            
        }
        cursor: pointer;
        &::before{
            content: "";
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid #777;
            vertical-align: middle;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }

    input:checked + label{
        background-color: #dfdfdf;
    }
    input:checked + label::before{
        border: 7px solid #1193e1;
    }
    }
    .zoom{
        transform: scale(1.01, 1.01);
        overflow: hidden;
        position: relative;
        .inner{
          transition: transform .42s cubic-bezier(.15,.46,.57,1);
          &::before {
            content: "";
            transition: opacity .42s cubic-bezier(.15,.46,.57,1);
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,0.25);
          }
        }
        &:hover .inner{
          transform: scale(1.08, 1.08);
          &::before{
            opacity: 1;
          }
        }
      }

    @media (min-width:1024px){
    #offcanvas-flip{
        display: block;
        position: static;
        .uk-offcanvas-bar{
            position: static;
            width: auto;
            padding: 0;
            background-color: transparent;
            .uk-offcanvas-close{
                display: none;
            }
            a{
                color: black;
            }
        }
    }
 }

 @keyframes hover-shine {
    0%{
      background: #52b14c;
      color: white;
    }
    25%{
      background: #ffdd3d;
      color: white;
    }
    50%{
      background: #f8b158;
      color: white;
    }
    75%{
      background: #f15b3a;
      color: white;
    }
    100%{
      background: #28b2ee;
      color: white;
    }
  }

